:global {
  @import url('@radix-ui/colors/blue.css');
  @import url('@radix-ui/colors/blueDark.css');
  @import url('@radix-ui/colors/slate.css');
  @import url('@radix-ui/colors/slateDark.css');
  @import url('@radix-ui/colors/grass.css');
  @import url('@radix-ui/colors/cyan.css');
  @import url('@radix-ui/colors/amber.css');
  @import url('@radix-ui/colors/red.css');
}

@define-mixin clear-form-element {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  appearance: none;
  all: unset;
  box-sizing: border-box;
  cursor: default;
}

@define-mixin drop-shadow-sm {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

@define-mixin icon-button {
  @mixin clear-form-element;
  padding: var(--spacing-2);

  & svg {
    display: block;
  }

  &:hover {
    background-color: var(--baseBgHover);
  }

  &:active svg {
    transform: translate(1px, 1px);
  }

  &[data-state=on], &:active {
    background-color: var(--accentBgActive);
  }
}

.editorRoot {
  --accentBase: var(--blue1);
  --accentBgSubtle: var(--blue2);
  --accentBg: var(--blue3);
  --accentBgHover: var(--blue4);
  --accentBgActive: var(--blue5);
  --accentLine: var(--blue6);
  --accentBorder: var(--blue7);
  --accentBorderHover: var(--blue8);
  --accentSolid: var(--blue9);
  --accentSolidHover: var(--blue10);
  --accentText: var(--blue11);
  --accentTextContrast: var(--blue12);

  --baseBase: var(--slate1);
  --baseBgSubtle: var(--slate2);
  --baseBg: var(--slate3);
  --baseBgHover: var(--slate4);
  --baseBgActive: var(--slate5);
  --baseLine: var(--slate6);
  --baseBorder: var(--slate7);
  --baseBorderHover: var(--slate8);
  --baseSolid: var(--slate9);
  --baseSolidHover: var(--slate10);
  --baseText: var(--slate11);
  --baseTextContrast: var(--slate12);


  --admonitionTipBg: var(--cyan4);
  --admonitionTipBorder: var(--cyan8);
  
  --admonitionInfoBg: var(--grass4);
  --admonitionInfoBorder: var(--grass8);

  --admonitionCautionBg: var(--amber4);
  --admonitionCautionBorder: var(--amber8);

  --admonitionDangerBg: var(--red4);
  --admonitionDangerBorder: var(--red8);

  --admonitionNoteBg: var(--slate4);
  --admonitionNoteBorder: var(--slate8);

  --spacing-0:0px;
  --spacing-px:1px;
  --spacing-0_5:0.125rem;
  --spacing-1:0.25rem;
  --spacing-1_5:0.375rem;
  --spacing-2:0.5rem;
  --spacing-2_5:0.625rem;
  --spacing-3:0.75rem;
  --spacing-3_5:0.875rem;
  --spacing-4:1rem;
  --spacing-5:1.25rem;
  --spacing-6:1.5rem;
  --spacing-7:1.75rem;
  --spacing-8:2rem;
  --spacing-9:2.25rem;
  --spacing-10:2.5rem;
  --spacing-11:2.75rem;
  --spacing-12:3rem;
  --spacing-14:3.5rem;
  --spacing-16:4rem;
  --spacing-20:5rem;
  --spacing-24:6rem;
  --spacing-28:7rem;
  --spacing-32:8rem;
  --spacing-36:9rem;
  --spacing-40:10rem;
  --spacing-44:11rem;
  --spacing-48:12rem;
  --spacing-52:13rem;
  --spacing-56:14rem;
  --spacing-60:15rem;
  --spacing-64:16rem;
  --spacing-72:18rem;
  --spacing-80:20rem;
  --spacing-96:24rem;

  --radius-none:0px;
  --radius-small: var(--spacing-0_5);
  --radius-base: var(--spacing-1);
  --radius-medium: var(--spacing-1_5);
  --radius-large: var(--spacing-2);
  --radius-extra-large: var(--spacing-3);
  --radius-full: 9999px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: var(--baseText);
}

.editorWrapper {
  padding: var(--spacing-3);
}

.nestedListItem {
  list-style: none;
}

.toolbarRoot {
  /* border: var(--spacing-px) solid var(--baseBorder); */
  z-index: 50;
  margin-bottom: var(--spacing-6);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  border-radius: var(--radius-medium);
  padding: var(--spacing-2) var(--spacing-2);
  align-items: center;
  overflow-x: auto;
  position: sticky;
  top: 0;
  background-color: var(--baseBgSubtle);
  width: inherit;

  & div[role=separator] {
    margin: var(--spacing-1);
  }
}

.toolbarModeSwitch {
  margin-left: auto;
  align-self: stretch;
  align-items: stretch;
  display: flex;
  border: 1px solid var(--baseBg);
  border-radius: var(--radius-medium);
  font-size: var(--text-xs);

  .toolbarToggleItem {
    padding-inline-end: var(--spacing-4);
    padding-inline-start: var(--spacing-4);

    &:active, &[data-state=on] {
      background-color:var(--baseBorder);
    }
  }
}

.toolbarGroupOfGroups {
  display: flex;
}

.toolbarToggleSingleGroup:first-of-type .toolbarToggleItem:only-child,
.toolbarToggleSingleGroup:only-child .toolbarToggleItem:first-child, 
.toolbarModeSwitch .toolbarToggleItem:first-child {
  border-top-left-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
}

.toolbarToggleSingleGroup:last-of-type .toolbarToggleItem:only-child,
.toolbarToggleSingleGroup:only-child .toolbarToggleItem:last-child,
.toolbarModeSwitch .toolbarToggleItem:last-child {
  border-top-right-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
}

.toolbarToggleItem, .toolbarButton {
  @mixin clear-form-element;
  padding: var(--spacing-1);

  & svg {
    display: block;
  }

  &:hover {
    background-color: var(--baseBgHover);
  }

  &:active svg {
    transform: translate(1px, 1px);
  }

  &[data-state=on], &:active {
    background-color: var(--accentBgActive);
  }
}

.toolbarButton {
  border-radius: var(--radius-base);
}

.toolbarToggleSingleGroup {
  white-space: nowrap;
}

.toolbarNodeKindSelectContainer, 
.toolbarButtonDropdownContainer,
.toolbarCodeBlockLanguageSelectContent
{
  z-index: 60;
  width: var(--spacing-36);
  border-bottom-left-radius: var(--radius-base);
  border-bottom-right-radius: var(--radius-base);
  background-color: var(--baseBgHover);
  font-size: var(--text-sm);
}

.toolbarButtonDropdownContainer {
  border-top-right-radius: var(--radius-base);
}

.toolbarNodeKindSelectTrigger, 
.toolbarButtonSelectTrigger {
  border: 0;
  background-color: transparent;
  display: flex;
  color: inherit;
  align-items: center;
  width: var(--spacing-36);
  padding: var(--spacing-1);
  padding-inline-start: var(--spacing-4) ;
  padding-inline-end: var(--spacing-2);
  border-radius: var(--radius-medium);
  white-space: nowrap;
  flex-wrap: nowrap;
  font-size: var(--text-sm);

  &:hover {
    background-color: var(--baseBgHover);
  }

  &[data-state=open] {
    border-bottom-right-radius: var(--radius-none);
    border-bottom-left-radius: var(--radius-none);
    background-color: var(--baseBgHover);
  }
}

/** used in the sandpack */
.toolbarButtonSelectTrigger {
  width: auto;
  padding-inline-start: var(--spacing-2) ;
  padding-inline-end: var(--spacing-1);
}

.toolbarCodeBlockLanguageSelectTrigger, 
.toolbarCodeBlockLanguageSelectContent 
{
  width: var(--spacing-48);
}

.toolbarNodeKindSelectItem {
  cursor: default;
  display: flex;
  padding: var(--spacing-2) var(--spacing-4);

  &[data-highlighted] {
    background-color: var(--baseBgSubtle);
  }

  &[data-state=checked] {
    background-color: var(--accentBgActive);
  }

  &[data-highlighted] {
    outline: none;
  }

  &:last-child {
    border-bottom-left-radius: var(--radius-base);
    border-bottom-right-radius: var(--radius-base);
  }
}

.toolbarNodeKindSelectDropdownArrow {
  margin-left: auto;
}

.contentEditable {
  width: 100%;
  color: var(--baseTextContrast);
  &:focus {
    outline: none;
  }
}

.sandpackWrapper {
  margin-bottom:var(--spacing-5);
}

.frontmatterWrapper {
  border-radius: var(--radius-medium);
  padding: var(--spacing-3);
  background-color: var(--baseBgSubtle);

  &[data-expanded=true] {
    margin-bottom: var(--spacing-10);
  }
}

.frontmatterToggleButton {
  @mixin clear-form-element;
  display: flex;
  align-items: center;
  gap:var(--spacing-1);
  font-size: var(--text-sm);
}

.frontmatterEditorTable {
  table-layout: fixed;
  margin-top: var(--spacing-3);
  border-spacing: var(--spacing-2);
  & th {
    text-align: left;
    font-size: var(--text-sm);
    padding: var(--spacing-2) var(--spacing-3);
  }

  & col:nth-child(1) {
    width: 30%;
  }

  & col:nth-child(2) {
    width: 70%;
  }

  & td:last-child .iconButton {
    margin-left: var(--spacing-4);
    margin-right: var(--spacing-4);
  }
}

.frontmatterInput {
  @mixin clear-form-element;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--radius-base);
  border: 1px solid var(--baseBorder);
  background-color: var(--baseBase);
  font-size: var(--text-sm);
}

.iconButton {
  @mixin clear-form-element;
  color:var(--baseText);
}

.primaryButton {
  @mixin clear-form-element;
  padding: var(--spacing-2) var(--spacing-3);
  border: 1px solid var(--accentBorder);
  background-color: var(--accentSolidHover);
  color:var(--baseBase);
  font-size: var(--text-sm);
  border-radius: var(--radius-medium);
}

.linkDialogEditForm {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.linkDialogInputContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.linkDialogInputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--baseBase);

  border-radius: var(--radius-base);
  border:1px solid var(--baseBorder);

  &[data-visible-dropdown=true] {
    border-bottom-left-radius: var(--radius-none) ;
    border-bottom-right-radius: var(--radius-none) ;
    border-bottom-width: 0;
  }

  & > button {
    @mixin clear-form-element;
    padding-right: var(--spacing-2);
  }
}

.linkDialogInput {
  @mixin clear-form-element;
  width: 13rem;
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--text-sm);
  &::placeholder {
    color: var(--baseBorder);
  }
}

.linkDialogAutocompleteContainer {
  position: relative;

  & ul {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    font-size: var(--text-sm);
    width: 100%;
    display: none;
    border-bottom-left-radius: var(--radius-medium) ;
    border-bottom-right-radius: var(--radius-medium) ;
    max-height: var(--spacing-48);
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid var(--baseBorder);
    border-top-width: 0;
    background-color: var(--baseBase);

    &[data-visible=true] {
      display: block;
    }

    & li {
      padding: var(--spacing-2) var(--spacing-3);
      white-space: nowrap;
      margin-bottom: var(--spacing-1);
      overflow-x: hidden;
      text-overflow: ellipsis;
      &[data-selected=true] {
        background-color: var(--baseBgSubtle);
      }

      &[data-highlighted=true] {
        background-color: var(--baseBgHover);
      }

      &:last-of-type {
        border-bottom-left-radius: var(--radius-medium) ;
        border-bottom-right-radius: var(--radius-medium) ;
      }
    }
  }
}

.linkDialogAnchor {
  position: absolute;
  background-color: highlight;
  z-index: -1;

  &[data-visible=true] {
    visibility: visible;
  }

  &[data-visible=false] {
    visibility: hidden;
  }
}

.linkDialogPopoverContent, .tableColumnEditorPopoverContent, .dialogContent {
  @mixin drop-shadow-sm;
  display: flex;
  align-items: center;
  gap: var(--spacing-0_5);
  border-radius:var(--radius-medium);
  border: 1px solid var(--baseBorder);
  background-color: var(--baseBgSubtle);
  padding:var(--spacing-2) var(--spacing-2);
  font-size: var(--text-sm);
}



.linkDialogPreviewAnchor {
  margin-right: var(--spacing-3);
  display: flex;
  align-items: flex-start;
  color: var(--accentText);
  text-decoration: none;

  & svg {
    width: var(--spacing-5);
    height: var(--spacing-5);
    margin-left: var(--spacing-2);
  }
  border: 1px solid transparent;

  & span {
    max-width: 14rem;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.tooltipContent {
  border-radius: var(--radius-medium);
  padding: var(--spacing-1) var(--spacing-2);
  font-size: var(--text-xs);
  background-color: var(--baseText);
  color: var(--baseBase);

  & svg {
    fill: var(--baseText);
  }
}

.actionButton {
  @mixin icon-button;
  padding: var(--spacing-1) var(--spacing-1);
  border-radius: var(--radius-medium);
}

.primaryActionButton {
  background-color: var(--accentSolid);
  color:var(--baseBase);
  &:hover {
    background-color: var(--accentSolidHover);
    color:var(--baseBase);
  }
}

.tableEditor {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  & thead > tr > th {
    text-align: right;
  }

  & > tbody > tr > td:not(.toolCell) {
    border: 1px solid var(--baseBorder);
    padding: var(--spacing-1) var(--spacing-2);
    white-space: normal;

    & > div {
      outline: none;
      & > p {
        margin: 0;
      }
    }

    &[data-active=true] {
      outline: solid 2px var(--accentSolid)
    }
  }

  .tableColumnEditorTrigger, .tableRowEditorTrigger, .addRowButton, .addColumnButton, .iconButton {
    opacity: 0;
  }

  &:hover {
    .tableColumnEditorTrigger, .tableRowEditorTrigger, .addRowButton, .addColumnButton, .iconButton {
      opacity: .3;

      &:hover {
        opacity: 1;
      };
    }
  }
}

.toolCell {
  text-align: right;
  & button {
    margin: auto;
    display: block;
  }
}

.tableColumnEditorTrigger {
  @mixin icon-button;
  padding: var(--spacing-1);
  border-radius: var(--radius-full);
  opacity: 0.2;

  &[data-active=true] {
    opacity: 1;
  }
}

.tableColumnEditorToolbar {
  display: flex;
  & > button {
    @mixin icon-button;
  }
  & [role=separator] {
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
  }
}


.toggleGroupRoot {
  display: inline-flex;
  & button {
    @mixin icon-button;

    &:first-child {
      border-top-left-radius: var(--radius-base);
      border-bottom-left-radius: var(--radius-base);
    }

    &:last-child {
      border-top-right-radius: var(--radius-base);
      border-bottom-right-radius: var(--radius-base);
    }
  }
}

.tableToolsColumn {
  width: 3rem;
  & button {
    margin: auto;
    display: block;
  }
}

.leftAlignedCell {
  text-align: left;
}

.rightAlignedCell {
  text-align: right;
}

.centeredCell {
  text-align: center;
}

.addColumnButton, .addRowButton {
  @mixin icon-button;
  background-color: var(--baseBase);
  & svg {
    margin: auto;
  }

  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
}

.addRowButton {
  width: 100%;
  margin-top: var(--spacing-2);
  box-sizing: border-box;
}

.addColumnButton {
  margin-left: var(--spacing-2);
  height: 100%;
}

/** Dialog */
.dialogOverlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--baseBase);
  z-index: 51;
  opacity: 0.5;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 52;
}
.dialogContent:focus {
  outline: none;
}


@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
