@import url('@radix-ui/colors/blue.css');
@import url('@radix-ui/colors/blueDark.css');
@import url('@radix-ui/colors/slate.css');
@import url('@radix-ui/colors/slateDark.css');
@import url('@radix-ui/colors/grass.css');
@import url('@radix-ui/colors/cyan.css');
@import url('@radix-ui/colors/amber.css');
@import url('@radix-ui/colors/red.css');

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
    font-weight: 700
}

.italic {
    font-style: italic
}

.underline {
    text-decoration: underline
}

.strikethrough {
    text-decoration: line-through
}

.underlineStrikethrough {
    text-decoration: underline line-through
}

.subscript {
    font-size: .8em;
    vertical-align: sub!important
}

.superscript {
    font-size: .8em;
    vertical-align: super
}

.code {
    background-color: var(--baseBg);
    padding: 1px .25rem;
    font-family: var(--font-mono);
    font-size: 94%
}

.nestedListItem {
  list-style:none;
}

.admonitionDanger, .admonitionInfo, .admonitionNote, .admonitionTip, .admonitionCaution {
  padding: var(--spacing-2);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  border-left: 3px solid var(--admonitionBorder);
  background-color: var(--admonitionBg);
}

.admonitionInfo {
  --admonitionBorder: var(--admonitionInfoBorder);
  --admonitionBg: var(--admonitionInfoBg);
}
.admonitionTip {
  --admonitionBorder: var(--admonitionTipBorder);
  --admonitionBg: var(--admonitionTipBg);
}

.admonitionCaution {
  --admonitionBorder: var(--admonitionCautionBorder);
  --admonitionBg: var(--admonitionCautionBg);
}

.admonitionDanger {
  --admonitionBorder: var(--admonitionDangerBorder);
  --admonitionBg: var(--admonitionDangerBg);
}

.admonitionNote {
  --admonitionBorder: var(--admonitionNoteBorder);
  --admonitionBg: var(--admonitionNoteBg);
}
